body, html {
  height: 100%;
}
body {
  background-image: url(background.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background-color: white;
  text-align: left;
  border: solid 3px black;
  position: absolute; /* or absolute */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  -webkit-box-shadow: 9px 8px 8px 1px #000000; 
box-shadow: 9px 8px 8px 1px grey;
margin-top: 300px;
width: 60%;
}
h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 32pt;
  letter-spacing: 0.1em;
}
.addList {
  margin: 50px 350px 50px 350px;
}
#myInput {
  height:30px;
  width: 300px;
  font-size:14pt;
 
}
.add{
  cursor: pointer;
  height: 35px;
  font-size:14pt;
  width: 70px;
  
}
li {
  font-size: 16pt;
  line-height: 1.4em;
  padding: 10px;
  font-style: italic;
  cursor: pointer;
}

.delete {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
.girl {
  height: 250px;
  width: 270px;
  float: right;
  margin: 40px 30px 20px 0px ;
}
.close {
  float: right;
  margin-right: 30px;
  cursor: pointer;
}
/* When clicked on, add a background color and strike out text */
ol li.checked {
  background: #D6DCD1; 
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ol li.checked::before {
  content: '';
  position: absolute;
  border-color: #000;
  border-style: solid;
  border-width: 0 2px 2px 0;
  left: 30px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}